@font-face {
  font-family: "fz";
  src: url("../assets/fz.ttf");
}

#root {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  font-family: "fz";
  h1 {
    color: rgb(47, 44, 44);
  }
  .card {
    width: 750px;
    font-size: 24px;
    background-color: antiquewhite;
  }
}
